@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.primary {
  background-color: #4599AE;
  color: #eaeeef;
}
.primary button, .primary a.button {
  background-color: #ba6651;
  color: #eaeeef;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  margin: 2px;
}
.primary a, .primary button.a {
  background-color: transparent;
  color: #0c191d;
}

.secondary {
  background-color: #f8f2df;
  color: #0c191d;
}
.secondary button, .secondary a.button {
  background-color: #ba6651;
  color: #eaeeef;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  margin: 2px;
}
.secondary a, .secondary button.a {
  background-color: transparent;
  color: #ba6651;
}

.light {
  background-color: #eaeeef;
  color: #0c191d;
}
.light button, .light a.button {
  background-color: #ba6651;
  color: #eaeeef;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  margin: 2px;
}
.light a, .light button.a {
  background-color: transparent;
  color: #ba6651;
}

.dark {
  background-color: #0c191d;
  color: #eaeeef;
}
.dark button, .dark a.button {
  background-color: #ba6651;
  color: #eaeeef;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  margin: 2px;
}
.dark a, .dark button.a {
  background-color: transparent;
  color: #ba6651;
}

html {
  font-family: "Amatic SC", cursive;
  font-size: 5vw;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

html body {
  margin: 0;
  padding: 0;
}
html body header #title {
  position: relative;
  width: 100vw;
  height: 70vh;
}
html body header #title #background {
  background-image: url("../img/the depot/amias-alex.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: blur(10px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
html body header #title h1 {
  color: #eaeeef;
  position: absolute;
  top: 10vh;
  left: 20vw;
}
html body header #nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 1vh 5vw 1vh 5vw;
  position: relative;
}
html body header #nav svg {
  width: 10vw;
  cursor: pointer;
}
html body header #nav svg line {
  transition: all 0.5s ease;
  stroke: #eaeeef;
  stroke-width: 5px;
  stroke-linecap: round;
  transform-origin: 10px;
}
html body header #nav svg.show #top {
  transform: rotate(45deg) scaleX(0.9);
}
html body header #nav svg.show #middle {
  stroke: transparent;
}
html body header #nav svg.show #bottom {
  transform: rotate(-45deg) scaleX(0.9);
}
html body header #nav nav {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: auto;
}
html body header #nav nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 2rem;
}
html body header #nav nav ul li ul {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html body header #nav nav ul li ul#show {
  display: flex;
}
html body header #nav nav ul li a {
  text-decoration: none;
}
html body #latest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html body #latest img {
  width: 40vw;
  border-radius: 10px;
  border-style: solid;
  border-width: 7px;
  border-color: #f8f2df;
}
html body #latest #description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html body #latest #button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
html body .parallax {
  width: 100vw;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), transparent, rgba(255, 255, 255, 0.5)), url("../img/engine shed/goofy-one.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
html body #intro {
  display: flex;
  flex-direction: column;
}
html body footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}
html body footer ul {
  list-style-type: none;
}

/*# sourceMappingURL=home.css.map */
