.hoverArticle {
	position: absolute;
	text-align: center;
}

.blue {
	background-color: hsl(198, 50%, 32%);
}

.sand {
	background-color: hsl(21.57,86.41%,79.8%);
}

.sand p {
	color: black;
}

.green {
	background-color: hsl(116%, 46%, 50%);
}

.black {
	background-color: hsl(285%, 18%, 4%);
}

.articleTitle {
	padding: 40px 0 20px 0;
}

.articleBody {
	padding-bottom: 10px;
}

title {
	width: 85%;
	margin: auto;
}
