h1 {
	font: 500 2rem/1.2 "Pacifico", cursive;
	color: hsl(000, 0%, 100%);
	text-align: center;
}

h2 {
	font: 700 2rem/1.2 "Amatic SC", cursive;
	color: hsl(000, 0%, 80%);
	text-align: center;
	margin: 0 10px 0 10px;
}

h3 {
	font: 700 1rem/1.2 "Amatic SC", cursive;
	color: hsl(174, 72%, 56%);
	text-align: center;
	margin: 10px 0 5px 0;
}

h4 {
	font: 700 1rem/1.2"Raleway";
	color: hsl(60, 3%, 53%);
	text-align: center;
}

h5 {
	font: 500 0.8rem/1.2 "Raleway";
	color: hsl(60, 3%, 53%);
	text-align: center;
}

p {
	font: 700 0.65rem/1.5 "Amatic SC", cursive;
	color: hsl(000, 0%, 100%);
	text-align: center;
}

li {
	font: 700 1.25rem/1.5 "Amatic SC", cursive;
	color: hsl(000, 0%, 33%);
	list-style-type: none;
}

ul li{
	text-align: center;
}

label {
	font: 100 0.65rem/1.2 "Raleway";
	color: hsl(000, 0%, 33%);
}

input, textarea {
	font: 100 0.65rem/1.2 "Raleway";
}

a {
	text-decoration: underline;
}

input, button {
	font: 700 0.65rem/1.5 "Amatic SC", cursive;
}

li a {
	text-decoration: none;
}

@media (min-width: 768px) {		/* Desktop */
	h1 {
		font: 3rem;
	}

	h2 {
		font: 100 1.25rem/1.2 "Raleway";
	}

	h3 {
		font: 600 1.2rem/1.2 "Raleway";
	}

	h4 {
		font: 700 1.5rem/1.2 "Raleway";
	}

	h5 {
		font: 500 1rem/1.2 "Raleway";
	}

	p {
		font: 400 1rem/1.5 "Raleway";
	}

	li {
		font: 400 1rem/1.5 "Raleway";
	}

	label {
		font: 100 1rem/1.2 "Raleway";
	}

	input, textarea {
		font: 100 1rem/1.2 "Raleway";
	}
}

@media (min-width: 600px) {		/* Tablet */
	h1 {
		font: 3rem;
	}

	h2 {
		font: 100 1rem/1.2 "Raleway";
	}

	h3 {
		font: 600 0.95rem/1.2 "Raleway";
	}

	h4 {
		font: 700 1.25rem/1.2 "Raleway";
	}

	h5 {
		font: 500 0.9rem/1.2 "Raleway";
	}

	p {
		font: 400 0.8rem/1.5 "Raleway";
	}

	li {
		font: 400 0.8rem/1.5 "Raleway";
	}

	label {
		font: 100 0.8rem/1.2 "Raleway";
	}

	input, textarea {
		font: 100 0.8rem/1.2 "Raleway";
	}
}
