.imgFull {
	width: 100vw;
}

.img-thumbnail {
	width: 100px;
}

.imgBlur {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.img1 {
	background-image: url("https://the-indigo-bay.github.io/resources/images/the depot/the-depot-cleethorpes.jpg");
}

.img2 {
	background-image: url("https://the-indigo-bay.github.io/resources/images/the depot/the-depot-cleethorpes-2.jpg");
}

.img3 {
	background-image: url("https://the-indigo-bay.github.io/resources/images/engine shed/lincoln-engine-shed-stage.jpg");
}

.imgLogo img, .imgLogo {
	width: 20px;
}

@media (min-width: 1281px) {
	.imgLogo img, .imgLogo {
		width: 40px;
	}
}

.img-thumbnail {
	width: 200px;
}

@media (min-width: 768px) {		/* Desktop */
	.img-thumbnail {
		width: 500px;
	}
}

@media (min-width: 600px) {		/* Desktop */
	.img-thumbnail {
		width: 200px;
	}
}
