body {
	margin-bottom: 20px;
}

.pageTop {
	height: 50vh;
}

@media (min-width: 768px) {		/* Desktop */
	.pageTop {
		height: 70vh;
	}
}

@media (min-width: 600px) {		/* Tablet */
	.pageTop {
		height: 60vh;
	}
}
