body {
	margin-bottom: 20px;
}

.pageTop {
	height: 50vh;
	background-image: url("https://the-indigo-bay.github.io/resources/images/engine shed/engine-shed-nerves.jpg");
}

.title {
	font: "Pacifico", cursive;
	top: 10vh;
	left: 10vw;
}

@media (min-width: 768px) {		/* Desktop */
	.pageTop {
		height: 70vh;
	}
}

@media (min-width: 600px) {		/* Tablet */
	.pageTop {
		height: 60vh;
	}
}
