.footerRight{
	float: right;
	margin: 0 12px 0 0;
}

.footerLeft{
	float: left;
	margin: 0 0 0 0;
}

.footerCenter{
	float: center;
}

.footerElement{
	background-color: grey;
	color: white;
	font: 400 0.4rem/1.5 "Raleway";		/* 0.5rem */	
}

footer{
	border-top: solid hsl(000, 0%, 33%) 1px;
	position: fixed;
	left: 0px;
	width: 100%;
	bottom: 0px;
	height: 13px;
	background-color: grey;
	padding: 10px;
}	

/* IE 6 */
* html footer {
   position: absolute;
   top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
