@import '../colour';
@import '../fonts';

html {
	body {
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		@import '../nav';
		main {
			#latest {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				img {
					width: 40vw;
					border-radius: 10px;
					border-style: solid;
					border-width: 7px;
					border-color: $secondary;
				}
				#description {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
				}
				iframe {
					width: 70vw;
					height: 80px;
				}
				#button {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
				}
			}
			.parallax {
				width: 100vw;
				height: 60vh;
				background-image: linear-gradient(rgba(0, 0, 0, 0.9), transparent, rgba(255, 255, 255, 0.5)), url('../img/engine\ shed/goofy-one.jpg');
				background-attachment: fixed;
				background-size: cover;
				background-repeat: no-repeat;
			}
			#intro {
				display: flex;
				flex-direction: column;
			}
		}
		@import './media';
		@import '../footer';
	}
}
