@import '../colour';
@import '../fonts';

html {
	body {
		margin: 0;
		padding: 0;
		header {
			#title {
				position: relative;
				width: 100vw;
				height: 70vh;
				#background {
					background-image: url('../img/the\ depot/amias-alex.jpg');
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-position: center;
					background-size: cover;
					filter: blur(10px);
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
				h1 {
					color: $light;
					position: absolute;
					top: 10vh;
					left: 20vw;
				}
			}
			#nav {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 90vw;
				padding: 1vh 5vw 1vh 5vw;
				position: relative;
				svg {
					width: 10vw;
					cursor: pointer;
					line {
						transition: all 0.5s ease;
						stroke: $light;
						stroke-width: 5px;
						stroke-linecap: round;
						transform-origin: 10px;
					}
					&.show {
						#top {
							transform: rotate(45deg) scaleX(0.9);
						}
						#middle {
							stroke: transparent;
						}
						#bottom {
							transform: rotate(-45deg) scaleX(0.9);
						}
					}
				}
				nav {
					width: 100%;
					display: none;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100vw;
					height: auto;
					ul {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-items: center;
						list-style-type: none;
						font-size: 2rem;
						li {
							ul {
								display: none;
								flex-direction: column;
								justify-content: space-around;
								align-items: center;
								&#show {
									display: flex;
								}
							}
							a {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		#latest {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			img {
				width: 40vw;
				border-radius: 10px;
				border-style: solid;
				border-width: 7px;
				border-color: $secondary;
			}
			#description {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
			#button {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}
		}
		.parallax {
			width: 100vw;
			height: 60vh;
			background-image: linear-gradient(rgba(0, 0, 0, 0.9), transparent, rgba(255, 255, 255, 0.5)), url('../img/engine\ shed/goofy-one.jpg');
			background-attachment: fixed;
			background-size: cover;
			background-repeat: no-repeat;
		}
		#intro {
			display: flex;
			flex-direction: column;
		}
		footer {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			font-size: 0.8rem;
			ul {
				list-style-type: none;
			}
		}
	}
}
