@import '../colour';
@import '../fonts';

html {
	body {
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		@import '../nav';
		main {
			width: 100vw;
			background-image: url('../img/engine\ shed/george-tuning.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5vh 0 5vh 0;
			table {
				width: 90vw;
				border-collapse: collapse;
				th {
					background-color: $dark;
					color: $light;
				}
				td, th {
					border-style: solid;
					border-width: 1px;
					border-color: $accent;
					text-align: center;
					padding: 8px;
				}
				tr {
					background-color: $secondary;
				}
				tr:nth-child(even) {
					background-color: $light;
				}
			}
		}
		@import './media';
		@import '../footer';
	}
}
